@use '../../css/theme.scss';

.tabbed-panel {
    display: flex;
    flex-direction: column;
    overflow: auto;
}

.tabs {
    display: flex;
    gap: 0.5rem;
    background-color: theme.$base-color-tertiary;
    padding: 0.5rem;
    padding-bottom: 0;
    border-bottom: 1px solid theme.$divider;
}

.tab {
    @include theme.fade(background-color, border-color);
    background-clip: padding-box;

    padding: 0.325rem 0.75rem;
    border-top-left-radius: theme.$radius;
    border-top-right-radius: theme.$radius;
    cursor: pointer;
    border: 1px solid transparent;
    margin-bottom: -1px;

    &:hover {
        background-color: theme.$toggle-hover;
    }

    &.active-tab {
        background-color: theme.$base-color-primary;
        border: 1px solid theme.$divider;
        border-bottom-color: theme.$base-color-primary;
    }
}

.auxiliary-items {
    display: flex;
    align-items: center;
    margin-right: auto;
    padding-bottom: 0.5rem;
}

.panel {
    flex: 1 1 0;
    display: flex;
    overflow: auto;
}
